<% include ../partials/header.ejs %>

<div class="ui grid">
    <div class="ui main text container segment">
        <h1 class="ui header huge">Edit User</h1>
        <form class="ui form" action="/id<%= user._id %>/edit?_method=PUT" method="post">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="user[fname]" placeholder="First Name" value="<%= user.fname %>">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="user[lname]" placeholder="Last Name" value="<%= user.lname %>">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="user[image]" placeholder="Image url" value="<%= user.image %>">
            </div>
            <button class="ui right floated black small button">Submit</button>
        </form>
    </div>
</div>


<% include ../partials/footer.ejs %>