<% include ../partials/header.ejs %>

<div class="ui grid">
    <div class="ui main text container segment">
        <div class="ui huge header">Edit <%= blog.title %></div>
        <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="post", enctype="multipart/form-data">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" value="<%= blog.title %>">
            </div>

                <div class="field">
                    <label for="file">Select Image</label>
                    <input type="file" id="file" name="image">
                </div>

            <div class="field">
                <label>Blog Content</label>
                <textarea name="blog[body]"><%= blog.body %></textarea>
            </div>
            <input type="submit" class="ui black button fluid">
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>

