<% include ../partials/header.ejs %>

<div class="ui grid">
    <div class="ui main text container segment">
        <div class="ui huge header">New Post</div>
        <form class="ui form" action="/blogs" method="post" enctype="multipart/form-data">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="title" required minlength="1" maxlength="256">
            </div>
            <div class="field">
                <label for="file">Select Image</label>
                <input type="file" id="file" name="image">
            </div>
            <div class="field">
                <label>Post Content</label>
                <textarea name="blog[body]" required minlength="1"></textarea>
            </div>
            <button class="ui fluid black button">Submit</button>
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>


